<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>How about this</title>
  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/main.css" rel="stylesheet">
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/sockjs-client/sockjs.min.js"></script>
  <script src="/webjars/stomp-websocket/stomp.min.js"></script>
  <script src="/p1.js"></script>
</head>
<body>

  <img src="11.png" width="500px">
  <p>
    2019050014 이 분의 생년월일. (yyyy-mm-dd 형식 예: 1984-01-30)

  </p>
  <input id="ans" type="text"><button id="ok">Check</button>

</body>
</html>