<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>How about this</title>
  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/main.css" rel="stylesheet">
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/sockjs-client/sockjs.min.js"></script>
  <script src="/webjars/stomp-websocket/stomp.min.js"></script>
  <script src="/p7.js"></script>
</head>
<body>


 <img src="66.png" width="500px">
  <p>가려진 글씨를 적으세요.</p>
  <input id="ans" type="text"><button id="ok">Check</button>

</body>
</html>