<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>How about this</title>
  <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/main.css" rel="stylesheet">
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/sockjs-client/sockjs.min.js"></script>
  <script src="/webjars/stomp-websocket/stomp.min.js"></script>
  <script src="/p6.js"></script>
</head>
<body>



  <p>돼지의 신발 사이즈</p>
  <input id="ans" type="text"><button id="ok">Check</button>
  <button id="ok2">처음부터 다시 풀기</button>

</body>
</html>